<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#myPage"><img src="assets/images/citybase-white.png" width="180"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="#about">ABOUT</a></li>
                <li class=""><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1 class="title-name">CITYBASE</h1>
    <div class="row">
        <div class="col-12 text-center">
            <div class="input-group mb-3">
                <div class="input-group-prepend mx-auto">
                    <select name="Country" class="custom-select input-country">
                        <option selected>Select Country</option>
                    </select>
                    <select name="State" class="custom-select input-state">
                        <option selected>Select State</option>
                    </select>
                    <button class="btn btn-primary btn-cb">GO</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid home-container">
    <div class="row">
        <div class="col-12">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
        </div>
    </div>
</div>